/* style.css */

@font-face { font-family: Vazirmatn; src: url('Vazir.ttf'); } 
* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  width: 100%;
  /* border: 3px solid greenyellow; */
  padding-top: 5%;
}

#links {
  text-align: center;
  padding-top: 2%;
}

.align-center {
  text-align: center;
}

#personal-info {
  display: inline-block;
  font-family: Vazirmatn;
  text-align: left;
  padding: 5%;
}

#header-image {
  text-align: center;
  height: auto;
}