/* style.css */

@font-face { font-family: Vazirmatn; src: url('Vazir.ttf'); } 
* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  width: 100%;
  padding-top: 5%;
}

#links {
  text-align: center;
  padding-top: 2%;
}

.align-center {
  text-align: center;
}

#personal-info {
  display: inline-block;
  font-family: Vazirmatn;
  text-align: left;
  padding: 5%;
}

#header-image {
  text-align: center;
  height: auto;
}


#header-photos {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  padding: 4%;
}

.photo-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.photo-holder {
  text-align: center;
  width: 100%;
  padding: 1%;
  max-width: 500px;
}

.photo-text {
  width: 100%;
  padding: 1%;
  text-align: center;
}

.photo {
  text-align: center;
  width: 100%;
}