/* style.css */

@font-face { font-family: Vazirmatn; src: url('Vazir.ttf'); } 
@font-face { font-family: Kirvy; src: url('Kirvy.otf'); } 

* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  padding-top: 3%;
  background-color: #1e0e11;
  color: white;
  font-family: Kirvy;
}

#links {
  text-align: center;
  padding-top: 2%;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.align-center {
  text-align: center;
}

#personal-info {
  display: inline-block;
  text-align: center;
  padding: 5%;
}

#header-image {
  text-align: center;
  height: auto;
}


#header-photos {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  padding: 4%;
}

.photo-container {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.photo-holder {
  text-align: center;
  width: 100%;
  padding: 1%;
  max-width: 500px;
  display: none; /* Hidden by default */
}

.photo-text {
  width: 100%;
  padding: 1%;
  text-align: center;
}

.photo {
  text-align: center;
  width: 100%;
}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}